{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "> 2%",
                "ie 11",
                "safari >= 7",
                "firefox > 50"
              ]
            },
            "useBuiltIns": "usage"
          }
        ],
        "stage-2"
      ],
      "plugins": [
        "transform-runtime"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "> 2%",
                "ie 11",
                "safari >= 7",
                "firefox > 50"
              ]
            },
            "useBuiltIns": "usage"
          }
        ],
        "stage-2"
      ],
      "plugins": [
        "jsx-event-modifiers",
        "jsx-v-model",
        "transform-vue-jsx",
        "transform-runtime"
      ]
    },
    "docs": {
      "plugins": [
        "jsx-event-modifiers",
        "jsx-v-model",
        "transform-vue-jsx",
        "transform-runtime"
      ],
    },
  },
  "ignore": [
    "**/*.min.js",
    "**/jQuery*.js",
    "**/jquery*.js"
  ]
}