/*
 * @Author: yaofang.wu 
 * @Date: 2018-10-26 14:14:51 
 * @Last Modified by: yaofang.wu
 * @Last Modified time: 2018-10-31 11:09:48
 */

 @charset "utf-8";
.color01{
  color: #fff
}
.color02{
  color: #999
}
.color03{
  color: #4A90E2
}
.color04{
  color: #E72614;
}
.color05{
  color: #333;
}

.color06{
  color: #666;
}
/***background-color***/
.bgcolor01{
  background-color: #fff;
}
.bgcolor02{
  background-color: #999;
}
.bgcolor03{
  background-color: #4A90E2
}
.bgcolor04{
  background-color: #E72614
}
.bgcolor05{
  background-color: #333;
}
