{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="content">
    <!-- flex -->
    <div class="flex">
        <div class="flex-con">
            <div class="flex-model">
                <ul class="ul">
                    <li>
                        <span>1</span>
                    </li>
                    <li>
                        <span>2</span>
                    </li>
                    <li>
                        <span>3</span>
                    </li>
                    <li>
                        <span>4</span>
                    </li>
                    <li>
                        <span>5</span>
                    </li>
                    <li>
                        <span>6</span>
                    </li>
                </ul>
            </div>
            <!-- 骨架渲染1 -->
            <div class="timeline-item">
                <div class="animated-background">
                    <div class="background-masker header-top"></div>
                    <div class="background-masker header-left"></div>
                    <div class="background-masker header-right"></div>
                    <div class="background-masker header-bottom"></div>
                    <div class="background-masker subheader-left"></div>
                    <div class="background-masker subheader-right"></div>
                    <div class="background-masker subheader-bottom"></div>
                </div>
                <!-- 骨架渲染2-->
                <div class="comments-placeholder">
                    <div class="author">
                        <div class="avatar"></div>
                        <div class="info">
                            <div class="name"></div>
                            <div class="meta"></div>
                        </div>
                    </div>
                    <div class="text"></div>
                    <div class="text animation-delay"></div>
                    <div class="tool-group">
                        <i class="iconfont ic-zan-active"></i>
                        <div class="zan"></div>
                        <i class="iconfont ic-list-comments"></i>
                        <div class="zan"></div>
                    </div>
                </div>
            </div>
            <!-- flex aligns -->
            <div class="flex-aligns">
                <span class="vm">span</span>
                <span class="vm">flex-basis</span>
                <span class="vm">flex-grow</span>
            </div>
            <div class="flex-aligns1">
                <span class="vm">span</span>
                <span class="vm flex-shrink">flex-shrink</span>
                <span class="vm">span</span>
            </div>
        </div>
        <div class="flex-bottom"></div>
    </div>
</div>
{% endblock %}